<div>
  <input type="file" #fileInputElement style="display: none" (change)="onFilesAdded()" multiple/>

  <button type="button" mat-raised-button color="primary" (click)="addFiles()">
    Tallózás
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<mat-card *ngIf="files.size > 0">
  <mat-form-field class="wide-form-field" >
    <mat-label>Fájlok:</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let file of files" [selectable]="false"
                [removable]="true" (removed)="removeFile(file)">
        {{(file.name.length>20)? (file.name | slice:0:20)+'..':(file.name) }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</mat-card>
